{% extends "base.html" %}
{% block title %}<title>Об авторе проекта</title>{% endblock %}
{% block content %}
<center>
<h1>Привет, я автор</h1>
<div class="col-12 col-md-6">
  <div class='form_control'>
    <p>
      Тут я размещу информацию о себе, используя свои умения верстать.
      Картинки, блоки, элементы бустрап. А может быть, просто напишу несколько абзацев текста. 
    </p>
    <br>
    <p>
      Привет! Меня зовут Егор! Мне 20 лет, и я начинающий разработчик Django. На момент написания данного проекта, обучаюсь на третьем курсе университета "НИУ МЭИ" по спецальности
      "Управление в технических системах". Данная специальность местами мне показалась очень интересной, но прогать оказалось куда интереснее, поэтому я сейчас обучаюсь на курсах 
      "Яндекс практикум", от чего невероятно кайфую: много новой и полезной информации, люди, обстановка - все это мотивирует продолжать учиться и совершенствоваться в данной области.
    </p>
  </div>
</div>
</center>
{% endblock %} 